/* 
   Welcome everyone! Yeah! This is an open source code  :D
   Author: Alexandro Castro 
   Version: 20200601

   1 - Body
   2 - Menu
   3 - Top
   4 - Content
   5 - Footer
   6 - Media Queries
   7 - Animations Keyframes
*/

/*
 * Body
 * -------------------------------------------------------- */

 body {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  /*
 *  Menu
 * -------------------------------------------------------- */
 .main-menu {
    color: #fff;
    border-right: solid 1px rgba(255,255,255,.1);
    background: #353353;
    z-index: 1;
}

.menu-icon {
    font-size: 20px;
}

.main-menu  a {
    color: #fff;
    font-size: 20px  !important;
}

/*
 *  Top
 * -------------------------------------------------------- */

.mouse-wrapper {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    z-index: 1;
}

.mobile-top {
    flex-direction: column;
    padding-top: 5.5rem ;
}
.fixBootstrapAvatar {
    width: 6.5em !important;
    height: 6.5em !important; 
}

.fixBootstrapAvatar img {
    border-radius: 50% !important;
    width: 6.5em !important;
}

.socials {
    font-size: x-large;
}

.mouse {
    border: solid 2px #fff;
    border-radius: 16px;
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 26px;
    position: relative;
    width: 20px;
}

.mouse .wheel {
    background: #fff;
    border-radius: 100%;
    display: block;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 4px;
    -webkit-animation: ani-mouse 2s linear infinite;
    -moz-animation: ani-mouse 2s linear infinite;
    animation: ani-mouse 2s linear infinite;
}

.top-image {
    background-color: #353353 !important;
}
.full {
    height: 100vh;
}
.lang {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 70px;
}

.flutter {
    height: 40px;
    width: 35px;
}

.vue {
    height: 30px;
    width: 25px;
}

.name {
    font-family: "Rubik",Sans-serif;
    font-size: 36px;
    color: #fff;
    font-weight: 600;
}
.whoami {
    color: #fff;
    font-family: "Rubik",Sans-serif;
    font-size: 16px;
    z-index: 1;
}

/*
 *  Content
 * -------------------------------------------------------- */

.main-content {
    background-color: #F9F9FF;
}

.spacer-inner {
    padding-top: 40px;
    padding-bottom: 80px;
}

.title-section {
        font-family: "Rubik",Sans-serif;
        font-size: 36px;
        color: #454360;
        font-weight: 900;
        margin-left: 14px;
        position: relative;
        border-bottom: 1px solid rgba(0,0,0,.05);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    position: relative;
    line-height: 1rem;
}

.title-section::after {
    content: "";
    background-color: #454360;
    width: 44px;
    height: 6px;
    border-radius: .25rem;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.radius-card {
    border-radius: 15px;
}

.shadow-card {
    -webkit-box-shadow: 0px 0px 80px 0px  rgb(216, 214, 214);
    -moz-box-shadow: 0px 0px 80px 0px  rgb(216, 214, 214);
    box-shadow: 0px 0px 80px 0px  rgb(216, 214, 214);;
}

.arrow {
  width: 0; 
  height: 0; 
  left: -2;
  top:100px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  position: absolute;
  border-right:10px solid #c3c3c3; 
}

.timeline-divider-2 {
    width: 10px;
    align-self: center;
    height: 150px;
    border-right: 1px solid #dc3545; 
}

.timeline {
    padding-top: 20px;
}

.timeline i {
    font-size: 24px;
}

.timeline span {
    font-size: 24px;
}
.timeline span b {
    font-size: 11px;
    text-align: right;
    color: #343d47;
}


.project-card img {
    transition: transform .5s ease;
    cursor: pointer;   
    overflow: hidden;
}

.project-card-zoom {
    height: auto; 
    overflow: hidden; 
  }

.project-card img:hover {
    opacity: 0.7;
    cursor: pointer;   
    transform: scale(1.4);
}

/*
 * Footer
 * -------------------------------------------------------- */

 #goTop {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: rgba(0,0,0,.2);
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 100%;
    display: none;
    z-index: 4;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.goTop {
    margin: 0;
    position: relative;
    align-self: center;
    top: 10px;
    font-size: 16px !important;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

#goTop:hover {
    background-color: #dc3545;
}

.copyright {
    height: 300px;
    width: auto;
    color: #9c9ab3;
    font-size: 14px;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    white-space: nowrap;
    display: inline-block;
    overflow: visible;
}


.footer {
    background-color: #343d47;
    background: #343d47;
    color: #fff;
    padding: 70px 0;
    text-align: center;
    border-top: 1px solid #303841;
    height: 40vh;
}

.socials a{
    font-size: x-large;
    color: #fff;    
}



/*
 *  Media Queries
 * -------------------------------------------------------- */

@media (orientation: landscape) {
    @media only screen and (max-width: 600px) {
        .full {
            height: 150vh !important;
        }
        .copyright {
            display: none !important;
        }
        .mouse-wrapper {
          display: none;
        }
        .mobile-top {
            flex-direction: column !important;
            padding-top: 0px !important;
        }
      }
      
  }

  @media only screen and (max-width: 600px) {
        .arrow {
        width: 0; 
        height: 0; 
        left: 48% !important;
        top:-1px !important;
        border-left: 5px solid transparent !important;
        }
        
        .timeline span {
            font-size: 16px;
        }
        .timeline h5 {
            font-size: 16px;
        }
        
    }


/*
 * Animations
 * -------------------------------------------------------- */

@keyframes ani-mouse { 
    0%   {top: 4px;}
    25%  {top: 10px;}
    50%  {top: 15px;}
    75%  {top: 10px}
    100% {top: 4px;}
    }

.whoami-animation {
    animation: bounceIn 2s infinite;
    -webkit-animation: bounceIn 2s infinite; /*Chrome, Safari, Opera*/
  }

  @keyframes bounceIn { 
    0% { transform: scale(0.1); opacity: 0; } 
    60% { transform: scale(1.2); opacity: 1; } 
    100% { transform: scale(1); } 
    }
    /* Chrome, Safari, Opera */ 
    @-webkit-keyframes bounceIn {
    0% { transform: scale(0.1); opacity: 0; } 
    60% { transform: scale(1.2); opacity: 1; } 
    100% { transform: scale(1); } 
    }
  
.title-animation {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
}