body {
	height: 90vh;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
}

#app {
	text-align: center;
	color: grey;
}
